ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: pink;
}

li {
  display: inline;
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: blue;
}

.active {
  background-color: #4CAf50;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: pink;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}
